/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  text-decoration: none !important;
}

ul,
ol {
  list-style: none;
}

/* General setting */
div[class^="container"] {
  max-width: 1120px;
}

button {
  border-radius: 0 !important;
}

/* Link */
a.link--black {
  color: #000 !important;
}

a.link--black:hover {
  color: #666 !important;
}

a.link--white {
  color: #fff !important;
}

a.link--white:hover {
  color: #ddd !important;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

/* Navbar */
.dropdown-menu {
  height: 240px;
  overflow: auto;
}

.dropdown-item:active {
  background-color: #dc3545 !important;
}

/* Loading overlay */
#loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#loading-overlay .spinner-border {
  position: relative;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
}

/* From control */
.form-control,
.form-select {
  border-radius: 0 !important;
}

.form-control:focus,
.form-select:focus {
  border-color: #ba1323 !important;
  box-shadow: 0 0 0 0.25rem rgb(186 19 35 / 25%) !important;
}

/* Site main */
.site-main {
  min-height: 45vh;
}

/* Search box */
#search-box {
  color: #fff;
}

#search-box .btn {
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
}

#search-box .btn:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

/* News carousel */
#carousel-news {
  box-shadow: 0 0 3px #000;
}

.carousel-item {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("./images/loading-img.jpg");
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  height: 90vh;
}

.carousel-caption p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: justify;
}

/* Section title */
.section-title {
  display: inline-block;
  line-height: 1.5;
  border-bottom: 5px solid #dc3545;
  margin-bottom: 1.5rem;
}

/* News item */
.news-item {
  position: relative;
}

.news-item__img {
  width: 100%;
  aspect-ratio: 16/9;
  box-shadow: 0 0 3px #000;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.news-item__add-btn {
  border: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 1.25rem;
  color: transparent;
  background-color: transparent;
  -webkit-transition: color 500ms, background-color 500ms;
  -moz-transition: color 500ms, background-color 500ms;
  -o-transition: color 500ms, background-color 500ms;
  -ms-transition: color 500ms, background-color 500ms;
  transition: color 500ms, background-color 500ms;
}

.news-item__add-btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.news-item__info {
  position: absolute;
  transform: translateY(-100%);
}

.news-item__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
}

/* Pagination */
.pagination .page-link {
  color: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}

.pagination .page-link.active {
  color: #fff !important;
  background-color: #dc3545 !important;
}

.pagination .page-link.active:hover {
  background-color: #ba1323 !important;
}

/* Sidebar */
.list-box {
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.list-box li {
  flex-grow: 1;
}

.list-box a {
  color: #fff;
  border: 1px solid #fff;
  background-color: #dc3545;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
}

.list-box a:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #ba1323;
}

.list-box a.active {
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
}

/* Search box */
#search-box {
  padding: 1.5rem;
}
